<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="index.html" class="logo">introspect</a>
        <nav id="nav">
            <a routerLink="/dashboard">Home</a>
            <a routerLink="/contents">About</a>
            <a href="elements.html">Elements</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<div class="clearfix"></div><br><br><br><br><br>
 Price is ${{ data }}
<!-- <h1 *ngIf = "data && data.length>0">
    <div *ngFor="let joke of data">
        {{ joke }}
    </div>
</h1> -->
