<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="index.html" class="logo">introspect</a>
        <nav id="nav">
            <a routerLink="/dashboard">Home</a>
            <a routerLink="/contents">About</a>
            <a href="elements.html">Elements</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<div class="clearfix"></div><br><br>
<ul>
    <li><a  routerLink="/subcontent/1">Content 1</a></li>
    <li><a  routerLink="/subcontent/2">Content 2</a></li>
</ul>